<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>谷类</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/1.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>薯类淀粉</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/2.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>豆类</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/3.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>蔬菜</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/4.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>菌藻</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/5.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>水果</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/6.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>坚果种子</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/7.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>畜肉</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/8.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>禽肉</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/9.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>乳类</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/10.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>11</integer>
					<key>name</key>
					<string>蛋类</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/11.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>12</integer>
					<key>name</key>
					<string>鱼虾蟹贝</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/12.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>name</key>
					<string>小吃甜饼</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/14.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>name</key>
					<string>软饮料</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/16.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>name</key>
					<string>酒精饮料</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/17.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>name</key>
					<string>糖蜜饯</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/18.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>19</integer>
					<key>name</key>
					<string>油脂</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/19.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>调味品</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/20.jpg</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>21</integer>
					<key>name</key>
					<string>药食</string>
					<key>pic</key>
					<string>http://img.95e.com/vm/cat/21.jpg</string>
				</dict>
			</array>
			<key>name</key>
			<string>类别</string>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>name</key>
					<string>安神</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>name</key>
					<string>补钙</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>name</key>
					<string>补气虚</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>name</key>
					<string>补肾</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>86</integer>
					<key>name</key>
					<string>补血</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>87</integer>
					<key>name</key>
					<string>促消化</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>88</integer>
					<key>name</key>
					<string>调月经</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>89</integer>
					<key>name</key>
					<string>防癌抗癌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>90</integer>
					<key>name</key>
					<string>护肝</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>91</integer>
					<key>name</key>
					<string>减肥</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>92</integer>
					<key>name</key>
					<string>健脾胃</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>93</integer>
					<key>name</key>
					<string>降胆固醇</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>95</integer>
					<key>name</key>
					<string>降血压</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>96</integer>
					<key>name</key>
					<string>降血脂</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>97</integer>
					<key>name</key>
					<string>清热解毒</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>98</integer>
					<key>name</key>
					<string>通便</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>99</integer>
					<key>name</key>
					<string>通乳</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>100</integer>
					<key>name</key>
					<string>止咳化痰</string>
				</dict>
			</array>
			<key>name</key>
			<string>功效</string>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>小儿腹泻</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>21</integer>
					<key>name</key>
					<string>小儿厌食症</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>name</key>
					<string>小儿肥胖</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>name</key>
					<string>小儿麻疹</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>27</integer>
					<key>name</key>
					<string>妊娠反应</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>30</integer>
					<key>name</key>
					<string>产后乳少</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>31</integer>
					<key>name</key>
					<string>痛经</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>name</key>
					<string>月经不调</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>36</integer>
					<key>name</key>
					<string>支气管炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>37</integer>
					<key>name</key>
					<string>哮喘</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>38</integer>
					<key>name</key>
					<string>肺炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>40</integer>
					<key>name</key>
					<string>肥胖症</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>41</integer>
					<key>name</key>
					<string>糖尿病</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>42</integer>
					<key>name</key>
					<string>高血压</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>43</integer>
					<key>name</key>
					<string>高血脂</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>47</integer>
					<key>name</key>
					<string>中风</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>name</key>
					<string>肝硬化</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>49</integer>
					<key>name</key>
					<string>脂肪肝</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>50</integer>
					<key>name</key>
					<string>酒精肝</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>53</integer>
					<key>name</key>
					<string>肾结石</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>54</integer>
					<key>name</key>
					<string>消化不良</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>55</integer>
					<key>name</key>
					<string>胃炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>56</integer>
					<key>name</key>
					<string>便秘</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>57</integer>
					<key>name</key>
					<string>痔疮</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>58</integer>
					<key>name</key>
					<string>阳痿</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>59</integer>
					<key>name</key>
					<string>早泄</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>60</integer>
					<key>name</key>
					<string>痤疮</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>61</integer>
					<key>name</key>
					<string>湿疹</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>62</integer>
					<key>name</key>
					<string>脱发</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>63</integer>
					<key>name</key>
					<string>口腔溃疡</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>name</key>
					<string>青光眼</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>name</key>
					<string>白内障</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>66</integer>
					<key>name</key>
					<string>近视眼</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>name</key>
					<string>感冒</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>name</key>
					<string>鼻炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>70</integer>
					<key>name</key>
					<string>偏头痛</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>name</key>
					<string>失眠</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>72</integer>
					<key>name</key>
					<string>神经衰弱</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>73</integer>
					<key>name</key>
					<string>甲亢</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>76</integer>
					<key>name</key>
					<string>类风湿性关节炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>77</integer>
					<key>name</key>
					<string>肩周炎</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>78</integer>
					<key>name</key>
					<string>颈椎病</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>79</integer>
					<key>name</key>
					<string>腰椎间盘突出</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>name</key>
					<string>骨质增生</string>
				</dict>
			</array>
			<key>name</key>
			<string>人群</string>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>123</integer>
					<key>name</key>
					<string>烟酸</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>122</integer>
					<key>name</key>
					<string>维生素E</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>121</integer>
					<key>name</key>
					<string>维生素C</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120</integer>
					<key>name</key>
					<string>维生素B2</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>119</integer>
					<key>name</key>
					<string>维生素B1</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>118</integer>
					<key>name</key>
					<string>维生素A</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>117</integer>
					<key>name</key>
					<string>胡萝卜素</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>116</integer>
					<key>name</key>
					<string>脂肪</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>115</integer>
					<key>name</key>
					<string>碳水化合物</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>114</integer>
					<key>name</key>
					<string>膳食纤维</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>113</integer>
					<key>name</key>
					<string>热量</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>112</integer>
					<key>name</key>
					<string>蛋白质</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>111</integer>
					<key>name</key>
					<string>胆固醇</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110</integer>
					<key>name</key>
					<string>锌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>109</integer>
					<key>name</key>
					<string>硒</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>108</integer>
					<key>name</key>
					<string>铜</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>107</integer>
					<key>name</key>
					<string>铁</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>106</integer>
					<key>name</key>
					<string>钠</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>105</integer>
					<key>name</key>
					<string>锰</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>104</integer>
					<key>name</key>
					<string>镁</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>103</integer>
					<key>name</key>
					<string>磷</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>102</integer>
					<key>name</key>
					<string>钾</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>101</integer>
					<key>name</key>
					<string>钙</string>
				</dict>
			</array>
			<key>name</key>
			<string>营养</string>
		</dict>
	</array>
</dict>
</plist>
