<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>picArray</key>
	<array>
		<dict>
			<key>textString</key>
			<string>老司机法律就死定了附近的律师费吉林市解放路撒酒疯垃圾分类肯定是解放了快速减肥了深刻的风景老师剪短发了快速的减肥了肯定是放假</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma1.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma9.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma1.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>失联飞机是两款发动机乐山大佛 乱收费记录上打开附件是浪费受得了</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma9.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>是电风扇的发送方的说法是法师法师法师法师法师的范德萨发生的发生的士大夫撒发生范德萨发生的发生的第三方士大夫水电费水电费水电费是大放送沙发上发生的方法对双方都</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma9.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>失联飞机是两款发动机乐山大佛 乱收费</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma1.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma3.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma8.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>所发生的多的地方地方地方大幅度发大幅度</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma7.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma6.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>水电费水电费水电费是失联飞机了独守空房老司机反馈说浪费来刷卡缴费的凉开水房</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma9.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>失联飞机是</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
		<dict>
			<key>textString</key>
			<string>老司机法律就死定了附近的律师费吉林市解放路撒酒疯垃圾分类肯定是解放了快速减肥了深刻的风景老师剪短发了快速的减肥了肯定是放假</string>
			<key>urls</key>
			<array>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma5.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma9.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
				<string>http://maojia-longma.stor.sinaapp.com/jackImg/longma4.jpg</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
